{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'projetos.css' %}">
    <link rel="stylesheet" href="{% static 'contato.css' %}">
    <link rel="stylesheet" href="{% static 'sobre.css' %}">
    <link rel="stylesheet" href="{% static 'Mycontador/css/podium-section.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}


<section id="Ofensivas" style="padding-top: 3rem;">

    {% include 'Mycontador/podium-section.html' %}

</section>

<div class="section-spacer"></div>

<!-- Projetos Section (Usando Cards da UI Antiga) -->
{% include 'projetos.html' %}

<div class="section-spacer"></div>

{% include 'sobre.html' %}

<div class="section-spacer"></div>

<!-- Contato Section -->
{% include 'contato.html' %}

<script src="{% static 'Mycontador/js/painel_telemetria.js' %}?v=1.1"></script>

{% endblock %}