<section id="sobre" class="features-section sobre-section">
    <div class="section-header">
        <h2>Sobre Mim</h2>
        <p>Um pouco da minha trajetória e foco de atuação.</p>
    </div>
    
    <div class="sobre-card">
        
        <span class="material-symbols-outlined sobre-icon">person</span>

        <p class="sobre-text margin-bottom">
            Você gostaria de saber mais sobre mim? Sou estudante de <strong class="sobre-highlight">Engenharia da Computação</strong> focado no desenvolvimento rápido e ágil.
        </p>
        <p class="sobre-text no-margin">
            Minha linha de ação principal é a construção de aplicações web utilizando <strong class="sobre-highlight primary">Python e Django</strong>, combinados com <strong class="sobre-highlight primary">HTML e CSS puros</strong>.
        </p>
    </div>
</section>
