{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'Mylivros/meuslivros.css' %}">
{% endblock %}

{% block content %}
<div class="books-section">
    <div class="books-header">
        <h1>Meus Livros Lidos</h1>
        <p>A coleção de leituras e aventuras</p>
    </div>

    <div class="books-grid">
        {% for livro in livros %}
        <div class="book-card">
            <div class="book-cover">
                {% if livro.urlimagem %}
                <img src="{{ livro.urlimagem }}" alt="Capa de {{ livro.name }}">
                {% else %}
                <div class="book-cover-placeholder loading-pulse">Sem Imagem</div>
                {% endif %}
            </div>
            <h3 class="book-title">{{ livro.name }}</h3>
        </div>
        {% empty %}
        <p>Nenhum livro cadastrado ainda.</p>
        {% endfor %}
    </div>




</div>
{% endblock %}
