 <section class="telemetry-grid">
        <article class="telemetry-card">
            <header class="card-header">
                <span class="card-title">Dias de estudos para o CFRM</span>
            </header>
            <div class="card-body">
                <div class="card-value" id="counter-cfrm">45 <span class="unit">dias</span></div>
            </div>
            <footer class="card-footer">
                <div class="mini-metric">contador de dias que comecei a colocar em ação meus estudos para o CFRM</div>
            </footer>
        </article>

        <article class="telemetry-card">
            <header class="card-header">
                <span class="card-title">Dias lendo livros de tecnologia</span>
            </header>
            <div class="card-body">
                <div class="card-value" id="counter-livros-tecnologia">45 <span class="unit">dias</span></div>
            </div>
            <footer class="card-footer">
                <div class="mini-metric">livro do momento :Redes de computadores Andrew Tanenbaum </div>
            </footer>
        </article>



   
    </section>

