{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'Mycontador/css/painel_telemetria.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'Mycontador/css/telemetry-grid.css' %}">
    <link rel="stylesheet" href="{% static 'Mycontador/css/analytic-core.css' %}">
    <link rel="stylesheet" href="{% static 'Mycontador/css/hub-header.css' %}">
    <link rel="stylesheet" href="{% static 'Mycontador/css/podium-section.css' %}">
    <link rel="stylesheet" href="{% static 'Mycontador/css/calendar.css' %}?v=1.3">
    <link rel="stylesheet" href="{% static 'Mycontador/css/habitos_calendar.css' %}">
{% endblock %}

{% block content %}
<main class="dashboard-hub">
    {% include 'Mycontador/partials/header-section.html' %}

    {% include 'Mycontador/partials/podium-section.html' %}
    {% include 'Mycontador/partials/habitos-section.html' %}
    {% comment %} {% include 'Mycontador/telemetry-grid.html' %} {% endcomment %}
  
    {% include 'Mycontador/partials/calendar-section.html' %}
      {% comment %} {% include 'Mycontador/partials/analytics-section.html' %} {% endcomment %}

</main>

<script src="{% static 'Mycontador/js/cycle-telemetry.js' %}?v=1.1"></script>
<script src="{% static 'Mycontador/js/podium.js' %}?v=1.1"></script>
<script src="{% static 'Mycontador/js/calendar.js' %}?v=1.0"></script>
<script src="{% static 'Mycontador/js/habitos_calendar.js' %}?v=1.1"></script>
{% endblock %}
