  <section class="analytic-core">
        <div class="donut-container">
            <div class="donut-chart"></div>
            <div class="donut-center">
                <span class="donut-title">CORE</span>
            </div>
        </div>
        <div class="donut-legend">
            <h3 class="legend-title">Habit Weight / Strength Distribution</h3>
            <ul class="legend-list">
                <li><span class="legend-color color-green"></span> Estudos CFrm/Engenharia (45%)</li>
                <li><span class="legend-color color-blue"></span> Imersão em Inglês (30%)</li>
                <li><span class="legend-color color-amber"></span> Condicionamento Físico (15%)</li>
                <li><span class="legend-color color-gray"></span> Outros (10%)</li>
            </ul>
        </div>
    </section>